.admin-nav{

  background-color: #151515;

  .menu > li > a{
    color: #F0F8FF;
    font-size: 1.0rem;
    transition: 0.2s;

    &:hover, &:focus, &:active{
     background-color: darken(#151515, 80);
      padding-left:1.5rem ;
    }

  }


  h3{
    color: #F0F8FF;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
  }

  p{
    color: #F0F8FF;
    font-size: 1rem;

  }

  .image-holder{
    padding: 0.7rem;

    //background-color: #5e5e5e;

    img{
      border-radius: 50%;
      height: 150px !important;
      width: 150px !important;
      border: 5px solid lighten(#151515, 50%);
    }

  }



}

.title-bar-title{
  font-size: 1rem;
  a{
    color: #F0F8FF !important;
    margin-left: 1rem;
    transition: 0.2s;

    &:hover{
      margin-left: 0;
    }
  }


}


.admin-title-bar{

  background-color: #0a0a0a;
  .title-bar{

  }

}

.card-divider{
  background-color: #0a0a0a;

  .summary-divider{
    a{
      color: #F0F8FF;

    }
  }

}


.summary{
  margin-top: 1rem;

  .card-section{
  background-color: #569ff7;
    .icons{
      font-size: 5rem;
      color: aliceblue;
    }
  }

  .summary-text{
    text-align: right;
    color: #F0F8FF;
  }
}

.user-logout {
  background-color: #0a0a0a !important;
  a{
    font-weight: bold;
    transition: 0.2s;
    color: #F0F8FF;
    margin-right: 1rem;
    &:hover{
      margin-right: 0;
    }
}


}














